<div igxLayout>
    <igx-nav-drawer #nav id="project-menu" isOpen="true" [enableGestures]='true' width="280px">
        <ng-template igxDrawer>
            <ng-container *ngFor="let model of api.apiDocs.apiModels">
                <span igxDrawerItem [isHeader]="true">{{model.modelTitle}}</span>
                <span (click)="openApi(model,apiForm)" igxDrawerItem igxRipple *ngFor="let apiForm of model.apiForms">{{apiForm.apiName}}</span>
            </ng-container>
        </ng-template>
    </igx-nav-drawer>
    <div igxFlex class="main">
        <igx-navbar title="api-docs" actionButtonIcon="menu" (onAction)="nav.toggle()">
            <button (click)="addApi()" igxButton="flat" igxButtonColor="white" igxRipple>添加接口</button>
            <button (click)="modelForm.open()" igxButton="flat" igxButtonColor="white" igxRipple>添加模块</button>
            <button (click)="saveDocs()" igxButton="icon" igxRipple igxRippleCentered="true">
                <igx-icon name="save"></igx-icon>
            </button>
        </igx-navbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!--添加模块-->
<igx-dialog #modelForm title="新增模块" (onRightButtonSelect)="addModel();modelForm.close()" rightButtonLabel="确认" [closeOnOutsideSelect]="true">
    <div style="padding:20px;">
        <igx-input-group>
            <input igxInput name="modelTitle" type="text" [(ngModel)]="apiModel.modelTitle" />
            <label igxLabel for="modelTitle">接口名称</label>
        </igx-input-group>
    </div>
</igx-dialog>